@import '_config';

.header-main {
  background: #ffffff;
  height: $header-height;
  line-height: 75px;
  position: relative;


  h1 {
    margin: 21px -250px 0 0;
    position: absolute;
    right: 100%;
    text-indent: -9999px;
    transition: all 0.3s ease-out;

    a {
      background: url($logo) 0 0 no-repeat;
      display: block;
      height: 29px;
      line-height: 75px;
      width: 230px;
    }
  }

  a {
    color: $color-med-grey;
    text-decoration: none;
  }
}

.nav-active .header-main {
  z-index: 99;
}