@import '_config';

.push {
  margin: $padding 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden-small {
  display: none;

  @media (min-width: $break-med) {
    display: block;
  }
}

.hidden-wide {
  display: block;

  @media (min-width: $break-med) {
    display: none;
  }
}