:host {
  background: #f2f2f2;
  display: block;
  min-height: 960px;
}

:host .projects-list {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

:host .projects-list.active {
  opacity: 1;
}

:host>section {
  padding: 0 15px;
}

:host>section .project-cards {
  margin-bottom: 50px;
}

:host .error h5 {
  margin-top: 60px;
}

.projects-filters {
  background: #ffffff;
}

:host .search-count {
  font-size: 14px;
  line-height: 30px;
  margin: 10px 0;
}
