/* You can add global styles to this file, and also import other style files */
body {
    background: white;
    color: #444;
    font-family: "Roboto",sans-serif;
    line-height: 18px;
    margin: 0;
    min-width: 300px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}